{{define "meta_title"}}Home{{end}}

{{define "content"}}

<h1>Hello, World</h1>
<p>Test value - {{.testValue}}</p>
<p>Context value - {{.context.Value "ctxValue"}}</p>
<p>Admin URL - {{reverse "admin.index"}}</p>

{{end}}
