{{define "meta_title"}}Admin{{end}}

{{define "content"}}

<h1>Admin Index</h1>

Session: {{.context.Value "session" }}<br>
Session value: {{with .context.Value "session"}}{{ .admin_login }}{{end}}<br>

{{end}}
