{{define "meta_title"}}Login{{end}}

{{define "content"}}

<h1>Admin Login</h1>
<form action="{{reverse "admin.login"}}" method="post">
    <input name="login" type="text">
    <input name="password" type="password">
    <button type="submit">OK</button>
</form>

{{end}}
